.avatar {
  --avatar-size: 64px;
  position: relative;
  height: 100%;
  width: 200px;
  transform: translateY(calc(100% - 80px));
}

.img {
  position: relative;
  width: var(--avatar-size);
  height: var(--avatar-size);
  padding: var(--sp-xxs);
  border-radius: 100px;
  box-shadow: 0 10px 30px hsl(var(--surface-shadow) / var(--shadow-strength));
}

.msgbubble {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: -16px;
  right: 4px;
  white-space: nowrap;
  padding: 8px 16px;
  background: var(--surface3);
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: var(--text1);
  border-radius: 100px 100px 100px 0;
  transition: opacity 0.5s ease 0s;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    border-bottom: 15px solid var(--surface3);
    border-right: 15px solid transparent;
  }
}

.arrow {
  pointer-events: none;
  width: var(--avatar-size);
  transform: rotate(110deg) translate(-10px, 100px);
  opacity: 0;
  transition: opacity 0.5s ease 0s;

  svg path {
    stroke: var(--text2);
  }
}
