.button {
  .tooltip {
    position: absolute;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--surface4);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-align: center;
    opacity: 0;
    transform: scale(1) translateX(calc(-50% + 7px));
    transition: all 0.2s;

    p {
      color: var(--text1);
      font-size: 14px;
    }
  }

  &:hover .tooltip {
    opacity: 1;
    transform: scale(1) translateX(calc(-50% + 7px));
  }
}
