@import './reset.scss';
@import './theme.scss';
@import './variables.scss';
@import './typography.scss';

@import './article.scss';

::selection {
  color: var(--highlight-text);
  background: hsl(var(--highlight));
}

.header__content {
  position: relative;
  display: flex;
  justify-content: center;
  padding-block-end: var(--sp-m);

  h1 {
    margin: 0;
  }
}

.header__text {
  padding-inline-end: 56px;
}

.loading__wrapper {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.wave-bg {
  position: absolute;
  width: 100%;
  top: 40vh;
}

.wave-bg-color {
  background: linear-gradient(180deg,
      transparent calc(40vh + 3rem),
      var(--color-wave) 0);
}

.wave {
  width: 100%;
  display: block;
  height: 3rem;

  path {
    animation: waves 10s linear infinite;
  }
}

@keyframes waves {
  from {
    transform: translate(-90px);
  }

  to {
    transform: translate(85px);
  }
}

hr {
  height: 1px;
  width: 100%;
  background: var(--surface2);
  border: none;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

.main__layout {
  position: relative;
  --shadow-color: var(--surface4);

  &::before,
  &::after {
    content: '';
    position: fixed;
    height: 40px;
    opacity: 0.2;
    z-index: 3;
    width: 100%;
  }

  &::before {
    top: 0;
    background: linear-gradient(to top, transparent, var(--shadow-color));
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--shadow-color));
  }
}

.card__layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--sp-xs);
  padding: 0;

  li {
    transition: opacity 200ms ease;
  }

  &:hover li,
  &:focus-within li {
    filter: blur(1px);
    opacity: 0.5;
  }

  & li:hover,
  & li:focus-within {
    filter: none;
    opacity: 1;
  }
}

.social__layout {
  list-style: none;
  padding: 0;
  display: flex;
  gap: var(--sp-xs);
}

main {
  position: relative;
  max-width: var(--max-layout-width);
  padding-block: 4em 2em;
  padding-inline: var(--sp-s);
  margin-inline: auto;
  width: 100%;
}

section,
.section {
  @extend main;
  padding-inline: 0;
}

.footer {
  width: 100%;
  margin: 0;
  padding: var(--sp-m) 0;
  font-size: 0.75rem;

  &__wrapper {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr minmax(auto, var(--max-layout-width)) 1fr;
    column-gap: 16px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / auto;
  }
}

@media (max-width: 550px) {
  .header__animation {
    display: none;
  }
}