:root {
  --base-hue-gray: 223;
  --base-gray: var(--base-hue-gray), 55%;
  --mint: hsl(165 60.6% 84.5%);
  --pink: hsl(323 72.2% 91.1%);
}

html[data-theme='dark'] {
  --color-wave: hsl(223, 24%, 6%);
  --color-text: hsla(var(--base-gray), 98%, 100%);
  --color-background: hsla(var(--base-gray), 10%, 100%);
  --color-gray-300: hsla(var(--base-gray), 30%, 100%);
  --color-gray-500: hsla(var(--base-gray), 50%, 100%);
  --color-gray-700: hsla(var(--base-gray), 70%, 100%);
}

html,
html[data-theme='light'] {
  --color-wave: hsl(222, 53%, 82%);
  --color-text: hsla(var(--base-gray), 10%, 100%);
  --color-background: hsla(var(--base-gray), 98%, 100%);
  --color-gray-300: hsla(var(--base-gray), 70%, 100%);
  --color-gray-500: hsla(var(--base-gray), 50%, 100%);
  --color-gray-700: hsla(var(--base-gray), 30%, 100%);
}
