:root {
  // Sizing
  --max-body-width: 1500px;
  --max-card-width: 320px;
  --max-text-width: 760px;
  --max-layout-width: 640px;

  // Spacing
  --sp-xxs: 8px;
  --sp-xs: 16px;
  --sp-s: 24px;
  --sp-m: 32px;
  --sp-l: 64px;
  --sp-xl: 88px;
  --sp-xxl: 120px;

  // Breakpoints
  --bp-tablet: 840px;
  --bp-mobile: 600px;

  // Typography
  --size-step-0: 0.9rem;
  --size-step-1: 1rem;
  --size-step-2: 1.15rem;
  --size-step-3: 1.25rem;
  --size-step-4: 2rem;
}
